$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "_angular-toastr.scss";
@import "_style.scss";
@import "_demo.scss";
@import "_fontello.scss";

//colors
$color_mystic_approx: #e4e7ec;
$black: #000;
$color_mountain_mist_approx: #90939a;
$black_26: rgba(0, 0, 0, .26);
$white: #fff;
$color_mine_shaft_approx: #333;
$color_golden_fizz_approx: #ffe939;
$color_nebula_approx: #cfd9d7;
$black_20: rgba(0, 0, 0, .2);
$color_tundora_approx: #444;
$color_black_haze_approx: #f6f6f6;
$color_iron_approx: #cfd9db;
$color_alto_approx: #dce0e0;
$color_fuscous_gray_approx: #555;
$color_athens_gray_approx: #ebeef1;
$seashell: #f1f1f1;
$mine_shaft: #323232;
$color_royal_blue_approx: #4285f4;
$color_mariner_approx: #3367d6;
$color_green_haze_approx: #0f9d58;
$color_jewel_approx: #196c4a;
$color_valencia_approx: #db4437;
$color_apple_blossom_approx: #b04c3b;
$color_persian_red_approx: #cb3927;
$color_azure_approx: #3b5998;
$color_chambray_approx: #335190;
$color_bay_of_many_approx: #294786;
$color_deep_cerulean_approx: #007bb6;
$color_allports_approx: #0069a4;
$color_cerulean_approx: #00aced;
$color_pacific_blue_approx: #0090c7;
$color_violet_red_approx: #f94877;
$color_radical_red_approx: #f8215a;
$color_red_ribbon_approx: #f71752;
$color_masala_approx: #3b3b3b;
$color_astral_approx: #3f729b;
$color_san_juan_approx: #305777;
$color_purple_approx: #720e9e;
$color_denim_approx: #125acd;
$color_royal_purple_approx: #6441a5;
$color_studio_approx: #7550ba;
$color_biscay_approx: #10375e;
$color_blue_zodiac_approx: #0d2c4a;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;
$font_2: Montserrat;
$font_3: Roboto;

body {
	font-family: $font_0, $font_1;
	background: $color_mystic_approx;
}
h1 {
	font-family: $font_2, $font_1;
	font-weight: bold;
}
h2 {
	font-family: $font_2, $font_1;
	font-weight: bold;
}
h3 {
	font-family: $font_2, $font_1;
	font-weight: bold;
}
h4 {
	font-family: $font_2, $font_1;
	font-weight: bold;
}
h5 {
	font-family: $font_2, $font_1;
	font-weight: bold;
}
h6 {
	font-family: $font_2, $font_1;
	font-weight: bold;
}
a {
	color: $black;
}
ul {
	margin-bottom: 0;
}
.text-muted {
	color: $color_mountain_mist_approx;
}
.navbar {
	border: 0;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 5px 0 $black_26;
}
.navbar-header {
	float: left;
	padding-left: 15px;
}
.navbar-nav {
	float: left;
	margin: 0;
	> li {
		float: left;
		> a {
			padding: 15px;
		}
	}
}
.navbar-default {
	color: $white;
	background: $white;
	.navbar-brand {
		color: $color_mine_shaft_approx;
		background-color: $color_golden_fizz_approx;
		&:hover {
			color: $color_golden_fizz_approx;
			background-color: $color_mine_shaft_approx;
		}
	}
}
.navbar-brand {
	margin-left: -15px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: 0.25s all;
}
.panel {
	border-color: $color_nebula_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 8px 17px $black_20;
}
.form-control {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
}
.center-form {
	width: 330px;
	margin: 12% auto;
}
.signup-or-separator {
	position: relative;
	height: 34px;
	text-align: center;
	background: none;
	hr {
		width: 90%;
		margin: -16px auto 10px auto;
		border-top: 1px solid $color_alto_approx;
	}
	.text {
		display: inline-block;
		padding: 8px;
		margin: 0;
		background-color: $white;
	}
}
.has-feedback {
	.form-control-feedback {
		top: 0;
		left: 0;
		width: 46px;
		height: 46px;
		line-height: 46px;
		color: $color_fuscous_gray_approx;
	}
	.form-control {
		padding-left: 42.5px;
	}
}
.password-strength-indicator {
	position: absolute;
	top: 10px;
	right: 0;
	width: 5px;
	padding: 0 15px;
	span {
		display: block;
		width: 5px;
		height: 5px;
		margin-bottom: 2px;
		background: $color_athens_gray_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
	}
}
[class^='ion-'] {
	font-size: 1.2em;
}
.alert-material {
	position: fixed;
	right: 12px;
	bottom: 12px;
	z-index: 1;
	display: inline-block;
	min-height: 48px;
	padding: 13px 24px 12px;
	font-family: $font_3, $font_1;
	color: $seashell;
	cursor: default;
	background: $mine_shaft;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	outline: none;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 5px 0 $black_26;
}
.profile-picture {
	height: 100px;
	display: block;
}
.btn {
	font-weight: bold;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 5px 0 $black_26;
	[class^='ion-'] {
		margin-right: 5px;
	}
	.fa {
		margin-right: 5px;
	}
}
.btn-primary {
	background-color: $color_royal_blue_approx;
	&:hover {
		background-color: $color_mariner_approx;
	}
}
.btn-success {
	background-color: $color_green_haze_approx;
	&:hover {
		background-color: $color_jewel_approx;
	}
}
.btn-danger {
	background-color: $color_valencia_approx;
	&:hover {
		background-color: $color_apple_blossom_approx;
	}
}
.btn-group-vertical {
	.btn {
		margin-bottom: 10px;
	}
	> .btn {
		&:first-child:not(:last-child) {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 2px;
		}
		&:not(:first-child):not(:last-child) {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 2px;
		}
		&:last-child:not(:first-child) {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 2px;
		}
	}
}
.btn-lg {
	font-size: 14px;
}
.btn-google-plus {
	color: $white;
	background-color: $color_valencia_approx;
	border: 1px solid $color_valencia_approx;
	&:hover {
		color: $white;
		background-color: $color_persian_red_approx;
	}
	&:focus {
		color: $white;
		background-color: $color_persian_red_approx;
	}
}
.btn-facebook {
	color: $white;
	background-color: $color_azure_approx;
	border: 1px solid $color_chambray_approx;
	&:hover {
		color: $white;
		background-color: $color_bay_of_many_approx;
	}
	&:focus {
		color: $white;
		background-color: $color_bay_of_many_approx;
	}
}
.btn-linkedin {
	color: $white;
	background-color: $color_deep_cerulean_approx;
	border: 1px solid $color_deep_cerulean_approx;
	&:hover {
		color: $white;
		background-color: $color_allports_approx;
	}
	&:focus {
		color: $white;
		background-color: $color_allports_approx;
	}
}
.btn-twitter {
	color: $white;
	background-color: $color_cerulean_approx;
	border: 1px solid $color_cerulean_approx;
	&:hover {
		color: $white;
		background-color: $color_pacific_blue_approx;
	}
	&:focus {
		color: $white;
		background-color: $color_pacific_blue_approx;
	}
}
.btn-foursquare {
	color: $white;
	background-color: $color_violet_red_approx;
	border: 1px solid $color_radical_red_approx;
	&:hover {
		color: $white;
		background-color: $color_red_ribbon_approx;
	}
	&:focus {
		color: $white;
		background-color: $color_red_ribbon_approx;
	}
}
.btn-github {
	color: $white;
	background-color: $color_tundora_approx;
	border: 1px solid $color_masala_approx;
	&:hover {
		color: $white;
		background-color: $color_mine_shaft_approx;
	}
	&:focus {
		color: $white;
		background-color: $color_mine_shaft_approx;
	}
}
.btn-instagram {
	color: $white;
	background-color: $color_astral_approx;
	&:hover {
		color: $white;
		background-color: $color_san_juan_approx;
	}
	&:focus {
		color: $white;
		background-color: $color_san_juan_approx;
	}
}
.btn-yahoo {
	color: $white;
	background-color: $color_purple_approx;
	&:hover {
		color: $white;
		background-color: $color_purple_approx;
	}
	&:focus {
		color: $white;
		background-color: $color_purple_approx;
	}
}
.btn-live {
	color: $white;
	background-color: $color_royal_blue_approx;
	&:hover {
		color: $white;
		background-color: $color_denim_approx;
	}
	&:focus {
		color: $white;
		background-color: $color_denim_approx;
	}
}
.btn-twitch {
	color: $white;
	background-color: $color_royal_purple_approx;
	&:hover {
		color: $white;
		background-color: $color_studio_approx;
	}
	&:focus {
		color: $white;
		background-color: $color_studio_approx;
	}
}
.btn-bitbucket {
	color: $white;
	background-color: $color_biscay_approx;
	&:hover {
		color: $white;
		background-color: $color_blue_zodiac_approx;
	}
	&:focus {
		color: $white;
		background-color: $color_blue_zodiac_approx;
	}
}
.fadeZoomFadeDown {
	&.ng-enter {
		animation-duration: 0.2s, 0.2s;
		animation-name: fadeIn, zoomIn;
	}
	&.ng-leave {
		animation: fadeOutDown 0.2s;
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale3d(0.8, 0.8, 0.8);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale3d(0.8, 0.8, 0.8);
	}
	50% {
		opacity: 1;
	}
}
.list-inline > li {
	padding-left: 15px;
	padding-right: 15px;
}
.panel-default > .panel-heading {
	font-size: 85%;
	font-weight: bold;
	color: $color_tundora_approx;
	text-transform: uppercase;
	background-color: $color_black_haze_approx;
	border-color: $color_iron_approx;
}
.fadeZoom.ng-enter {
	animation-duration: 0.2, 0.2s;
	animation-name: fadeIn, zoomIn;
}