
<div class="modal-header">
    <h3 class="modal-title">WEDDING PARTY</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col-lg-12">
            <input type="text" class="form-control ng-pristine ng-valid ng-touched" id="member-name" placeholder="Name" ng-model="param.name">
        </div>
        <div class="form-group col-lg-12">
            <input type="text" class="form-control ng-pristine ng-valid ng-touched" id="member-position" placeholder="Position" ng-model="param.position">
        </div>
        <div class="form-group col-lg-12">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{date.format}}" ng-model="param.date" is-open="popup1.opened"  datepicker-options="date.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="form-group col-lg-12">
            <div>Crop Image and Upload</div>
            <!--            <button ngf-select ng-model="picFile" accept="image/*">
                            Select Picture</button>-->
            <div ngf-drop ngf-select ng-model="picFile" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-allow-dir="true"
                 accept="image/*,application/pdf"
                 ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

            <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                 class="cropArea">
                <img-crop 
                    image="picFile  | ngfDataUrl"
                    result-image="croppedDataUrl"
                    ng-init="croppedDataUrl = ''"
                    area-type ="square"
                    result-image-size ="330"
                    >
                </img-crop>
            </div>
            <div>
                <img ng-src="{{croppedDataUrl}}" ng-show="croppedDataUrl" />
            </div>
<!--            <button ng-click="upload(croppedDataUrl)">Submit</button> -->

            <span class="progress" ng-show="param.progress >= 0">
                <div style="width:{{param.progress}}%" ng-bind="param.progress + '%'"></div>
            </span>
            <span ng-show="param.result">Upload Successful</span>
            <span class="err" ng-show="param.errorMsg">{{errorMsg}}</span>
        </div>
<!--        <div class="form-group col-lg-12">
            <div text-angular height="100px" ng-model="param.description" ta-toolbar="[['bold','italics','underline','insertLink','clear','justifyLeft','justifyCenter','justifyRight']]"></div>
        </div>-->
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="upload(croppedDataUrl)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
